.page {
  display: flex;
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header-block {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  margin: auto;
  display: flex;
}
.logo_place_header{
  z-index: auto;
  width: 154px;
  height: 31px;
  left: 64px;
  top: 30px;
  margin: auto;
  position: absolute;
}
.header__title{
  display: flex;
  width: 730px;
  left: 64px;
  line-height: 96px;
  font-size: 104px;
  font-weight: bold;
  margin: auto;
}
.header__subtitle{
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  bottom: 30px;
  width: 388px;
  position: absolute;
  z-index: 1;
  }

  .header__link{
    text-decoration: none;
    z-index: 1;
  }
    .header__link:link {
      color: #2F80ED;
      text-decoration: none;
      z-index: 1;
     }
     .header__link:visited {
      color: #2F80ED;
      text-decoration: none;
      z-index: 1;
     }
     .header__link:active {
       color: #2F80ED;
       text-decoration: none;
       z-index: 1;
       }

.header__square-pic {
  display: flex;
  top: 64px;
  margin: auto;
  height: 568px;
  width: 568px;
  background-color:#2F80ED;
  position: absolute;
  z-index:-1;
}
.header__main-illustration{
  width: 756px;
  height: 608px;
  position: absolute;
  overflow: hidden;
}
  /* is it  really position: relative; */

.two-columns{
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  margin: auto;
  display:flex;
}

/* including elements with key-value modifiers */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

