



/* here we have two examples of selectors in order to remind you how to set styles for elements */


















/*Double Margin fixed */









/*******HERE******************************/
/*******HERE******************************/
/*******HERE******************************/



  .cards {
    width: 920px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: start;
    list-style: none;
    margin: 0;
    padding: 0;
}

.cards__item {
  width: 240px;
  list-style: none;
  margin-right: 100px;
  background-size: cover; /* ?*/
  background-position: center; /* ?*/
}

.cards__item.cards__item:nth-of-type(3n) {
  margin-right: 0;
}

.cards__item:last-of-type{
  align-self: left;
  margin-right: 0;
}

.cards__image {
  margin: 60px 40px; /*fixed Margin*/
  width: 160px;
  height: 160px;
  border-radius: 50%;
  margin-bottom: 43px;
}

.cards__title {
  margin: 0;
  padding: 16px;
  text-align: center;
}
.cards__description {
  text-align: center;
  margin: 0 0 60px;
}

.video {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin: 100px auto 0;
  padding-bottom: -50px;

}

.video__iframes {
  display: flex;
  justify-content: center;
  margin: 50px auto -50px;

}

.video__iframe {
  height: 316px;
  margin-right: 20px;
}

  .video__iframe:last-of-type{

margin-right: 0px;
}

/*fix  cover*/

.oakley {
  background-color: #f2f2f2;
  padding-top: 160px;
  position: relative;
  z-index: -1;
}
/*HERE****************************************/
.digits {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.section-title {
  text-align: center;
  line-height: 69px;
  font-weight: bold;
  font-size: 60px;
  margin-bottom: 20px;
  max-width: 60%;
  margin-top: 0;
}

.section-subtitle {
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-top: 0;
  /*Double Margin fixed */
  max-width: 60%;
  margin-bottom: 0;
  /*bottom margin fixed */
}

.table {
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  list-style: none;
  padding-left: 0;
}

.table__cell {
  margin-top: 60px;
  width: 250px;
}

.table__heading {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  margin-top: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 0;
}

.feynman {
  padding-top: 100px;
  min-height: 790px;
  background-position: bottom left;
  background-color: #f2f2f2;
  background-image: url(../images/feynman.png);
  background-repeat: no-repeat;
  background-size: 867px 637px;
  position: relative;
}

.feynman__title {
  width: 776px;
  text-align: center;
  z-index: 1;
  margin: 0 auto;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 0;
}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: absolute;
  text-decoration: none;
  bottom: 50%;
  right: 48px;
  color: #2f80ed;
}
.feynman__link:hover {
  opacity: 50%;
  transition: 0.5s;
  transition-timing-function: ease-in-out;
}

/*Khan margin Top + bottom fixed */

.khan {

background-color: #f2f2f2;
padding-top: 105px;
margin: 0 auto;
}

.khan__container {
width:80%;
margin:0 auto;

}

.khan__author {
  font-size: 30px;
  line-height: 42px;
  font-weight: normal;
  margin: 0;
}

.khan__title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  margin:0;
}

.khan__quote {
  /* margin fixed */
  max-width: 790px;
  line-height: 34px;
  font-size: 24px;
  margin: 50px 0 0;
  font: normal;
}

.khan__author-quote {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 36px 0;
}
.khan__quote-author-subline {
  margin-top: 10px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
  margin: 10px 0;
}

.khan__buy-link {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
  opacity: 100%;
  margin:0;
}

.khan__buy-link:hover {
  opacity: 50%;
  transition: 0.5s;
  transition-timing-function: ease-in-out;
}
.khan__book-container {
  display: flex;
  margin-top: 68px;
}
.khan__book-pic {
  height: 608px;
  width: 620px;
  object-fit: cover;
  background-position: 0 0;
  object-position: top;
}

/*KHAN*/

.kaufman {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-items: center;
  align-content: center;
  padding: 90px 0;
  background-color: #1f1f1f;
  color: white;
  position: relative;
  overflow: hidden;
}

.section-title_theme_dark {
  width: 60%;
  margin-top: 90px;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  list-style: none;
  position: relative;
  margin-bottom: 20px;
}

/* Missing marging fixed */
.section-subtitle_theme_dark {
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0 auto;
  list-style: none;
  position: relative;
}

.table_theme_dark {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  width: 1100px;
  margin: 0 auto;
  position: relative;
}

.table__cell_theme_dark {
  list-style: none;
  width: 200px;
  color: white;
  margin-top: 80px;
}

.table__heading_theme_dark {
  bottom: 20px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  list-style: none;
}

.table__text_theme_dark {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}



.kaufman__triangle {
  background-image: url(../images/kaufman-triangle.svg);
  width: 660px;
  height: 636px;
  color: #2f80ed;
  top: 0px;
  position: absolute;
  right: -124px;
  overflow: hidden;
  transform: rotate(-15deg);
animation: rotation reverse 20s infinite;
}


@keyframes rotation {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(-15deg);
  }
}

@keyframes rotation {
  from {
      transform: rotate(-15deg);
  }
  to {
      transform: rotate(360deg);
  }
}
/*******HERE**********/
.resources {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.resources__logo-zone {
  width: 1100px;
  display: flex;
  list-style: none;
  margin: 80px auto 217px;
}

.resources__logo {
  width: 270px;
  height: 38px;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 100%;
}

.resources__logo:hover {
  opacity: 50%;
  transition: 0.5s;
  transition-timing-function: ease-in-out;
}

/*******HERE**********/
.footer {
  min-height: 350px;
  background-color: #1f1f1f;
  color: white;
  font-family: "Helvetica Neue", "Arial", "sans-serif";
  padding: 60px 0 40px;
  box-sizing: border-box;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 90%;
}

.footer__column {
  min-height: 250px;
  display: flex;
  flex-direction: column;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  justify-content: space-between;
}

.logo_place_footer {
  background-image: url(../images/logo_place_footer.png);
  background-size: cover;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  margin: 18px 0;
}

.footer__column_content_social {
  list-style: none;
  padding: 0;
}

.footer__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 0;
}

.footer__column-link {
  text-decoration: none;
  color: white;
  line-height: 30px;
  font-size: 18px;
}
.footer__column-link:hover {
  opacity: 50%;
  transition: 0.5s;
  transition-timing-function: ease-in-out;
}

.footer__social-icons {
  height: 16px;
  width: 16px;
  padding-right: 10px;
}
